
body 
{
	position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-logo
{
	position: absolute;
    top: 40%;
    left: 47%;
  
  margin: -46px 0 0 -136px;
}

.search-box
{
    position: relative;
    outline: none;
    border-style: solid;
    border-color: #e1e1e2;
    top: 48%;
    left: 28%;
    line-height: 3;
    border-radius: 20px;
    text-indent: 40px;
}

.search-box:hover
{
    box-shadow: 2px 2px 10px 2px #ececef;
    border-radius: 20px;
}

.mic
{
    position: relative;
    top: 49%;
    left: 25%;
    outline: none;
}

.mic:hover
{
    cursor: pointer;
}

.search-icon
{
    position: relative;
    top: 49%;
    left: -13.5%;
    outline: none;
}

.Lucky
{
    position: relative;
    top: 55%;
    left: -3.5%;
    font-size: 16px;
    background-color: #f5f2f2;
    color: #737377;
    border: none;
    font: Arial;
}

.Search
{
    position: relative;
    top: 55%;
    left: -8.5%;
    font-size: 16px;
    background-color: #f5f2f2;
    border: none;
    font: Arial;
    color: #737377;
}

.Search:hover
{
    box-shadow: 2px 2px 10px 2px #efe2e2;
    cursor: pointer;
}

.Lucky:hover
{
    box-shadow: 2px 2px 10px 2px #efe2e2;
    cursor: pointer;
}

.bottom-bar
{
    position: absolute;
    bottom: 0%;
    background-color: #ededf1;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left
{
    width: 50%;
    display: flex;
    justify-content: safe flex-start;
    background-color: #ededf1;

}

.right
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: #ededf1;
}

.b1, .b2, .b3, .b4, .b5, .b6, .b7
{
    border: none;
    color: #737377;
    font-size: 14px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;

}

.b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover, .b6:hover, .b7:hover, .b8:hover, .b9:hover, .b10:hover, .multiple-dots:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.top-bar
{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.b8,.b9
{
    border: none;
    font-size: 14px;
    color: #737377;
    background-color: white;
}

.Profile
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.multiple-dots
{   
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #fff;
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    opacity: 0.5;
}

.multiple-dots:hover
{
    opacity: 0.75;
}

.Profile:hover
{
    cursor: pointer;
}
